{% extends "partial/layout.html" %}
{% block set_title %} - Book Request {% endblock set_title %}
{% block page_heading %} Book Request {% endblock page_heading %}

{% block page_content %}

    <div class="row">
        <div class="col-md-12">
            <div id="flash_msg">{% include "partial/msg-temp.html" %}</div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>User Name</th>
                            <th>ISBN</th>
                            <th>Name</th>
                            <th>Author</th>
                            <th>Publisher</th>
                            <th>Price</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% load template_tags %}
                        {% for order in orders %}
                            <tr>
                                <td>{{ forloop.counter }}.</td>
                                <td>{{ order.user.name }}</td>
                                <td>{{ order.book.isbn }}</td>
                                <td>{{ order.book.name }}</td>
                                <td>{{ order.book.author }}</td>
                                <td>{{ order.book.publisher }}</td>
                                <td>{{ order.book.price }}</td>
                                <th>
                                    {% if order.status == 1 %}
                                        <a href="{% url 'change-order-status' order_id=order.id status=2 %}" title="Issue"><i class="fa fa-check-circle-o" aria-hidden="true"></i></a>
                                        <a href="{% url 'change-order-status' order_id=order.id status=3 %}" title="Reject"><i class="fa fa-times-circle-o" aria-hidden="true"></i></a>
                                    {% elif order.status == 2 %}
                                        <span>Issue</span>
                                    {% elif order.status == 3 %}
                                        <span>Reject</span>
                                    {% endif %}
                                    
                                    {% if order.status == 2 and  order.created_on|timediff > 7 %}
                                        <a href=javascipt:void(0); data-user="{{ order.user_id }}" data-days="{{ order.created_on|timediff }}" class="fine_modal_btn">Show Fine Amount</a>
                                    {% endif %}
                                </th>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="100%">No Records found</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
        
            <!-- Modal content-->
            <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Show Fine Amount</h4>
            </div>
            <div class="modal-body">
              <p>Total days from issue book : <label id="modal_day_label">dd</label></p>
              <p>Total Fine(Rs.) : <label id="modal_fine_label">dd</label></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <a href="javascript:void(0);" id="modal_mail" class="btn btn-primary">Send Mail</a>
            </div>
          </div>
          
        </div>
      </div>
{% endblock page_content %}


{% block javascript %}
 <script>

    $(function(){
        $('.fine_modal_btn').click(function(){
            $('#myModal').modal('show');
            var days = $(this).data('days');
            var amount = parseInt(days-7)*10;
            $('#modal_day_label').text(days);
            $('#modal_fine_label').text(amount);
            var user_id = $(this).data('user');
            $('#modal_mail').attr('href', 'http://localhost:8000/admin/send-fine-user-mail/'+user_id+'/'+amount);

        });
    });
  </script>
{% endblock javascript %}
