{% extends "partial/layout.html" %}
{% block set_title %} - Student List {% endblock set_title %}

{% block page_heading %}Student List{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="btn-group pull-right" role="group" aria-label="Page Action">
            <a href="#" class="btn btn-primary" title="Create New Student">Back</a>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-6">
            <form role="form" method="post" class="bs-validate">
                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" type="text" name="name">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control" type="text" name="email">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input class="form-control" type="text" name="password">
                </div>
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input class="form-control" type="text" name="confirm_password">
                </div>
                <div class="form-group">
                    <label>Mobile</label>
                    <input class="form-control" type="text" name="mobile">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
{% endblock page_content %}
