{% extends "partial/layout.html" %}
{% block set_title %} - Student List {% endblock set_title %}

{% block page_heading %}Student List{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="btn-group pull-right" role="group" aria-label="Page Action">
            <a href="{% url 'create-student' %}" class="btn btn-primary" title="Create New Student">Create New Student <i class="fa fa-plus" aria-hidden="true"></i></a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="flash_msg">{% include "partial/msg-temp.html" %}</div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Created</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for teacher in teachers %}
                            <tr>
                                <td>{{ forloop.counter }}.</td>
                                <td>{{ teacher.name }}</td>
                                <td>{{ teacher.email }}</td>
                                <td>{{ teacher.created_on|date:"d M, Y" }}</td>
                                <td>
                                    <a href="#">View Feedback</a>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="100%">No Records found</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock page_content %}
