{% extends "partial/layout.html" %}
{% block set_title %} - Users List {% endblock set_title %}

{% block page_heading %}Users List{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="btn-group pull-right" role="group" aria-label="Page Action">
            <a href="{% url 'create-user' %}" class="btn btn-primary" title="Create New User">Create New User <i class="fa fa-plus" aria-hidden="true"></i></a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="flash_msg">{% include "partial/msg-temp.html" %}</div>
            <div class="table-responsive">
                <table class="table table-hover" id="example">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Mobile</th>
                            <th>Created</th>
                             <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ forloop.counter }}.</td>
                                <td>{{ user.name }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.mobile }}</td>
                                <td>{{ user.created_on|date:"d M, Y" }}</td>
                                <td>
                                    <a href="{% url 'user-delete' user_id=user.id %}">Delete</a>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="100%">No Records found</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock page_content %}

{% block more_css %}
<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
{% endblock more_css %}

{% block more_js %}
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
{% endblock more_js %}

{% block javascript %}
 <script>
  $(function(){
    $("#example").dataTable();
  })
  </script>
{% endblock javascript %}
