{% extends "partial/guest_layout.html" %}
{% block set_title %} - Registration {% endblock set_title %}

{% block page_content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
            <div class="panel panel-default login-panel">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Registration</h3>
                </div>
                <div class="panel-body">
                    <form role="form" method="POST" id="form">
                        {% csrf_token %}
                        <fieldset>
                            {% include "partial/msg-temp.html" %}


                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-user"></i>
                                    </div>
                                    <input type="text" name="name" placeholder="Your name" class="form-control">
                                </div>
                                <label for="name" class="error" style="display:none;"></label>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                                    <input type="text" name="email" placeholder="Email" class="form-control">
                                </div>
                                <label for="email" class="error" style="display:none;"></label>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                                    <input type="password" name="password" placeholder="Password" class="form-control" minlength="4">
                                </div>
                                <label for="password" class="error" style="display:none;"></label>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-mobile"></i></div>
                                    <input type="text" name="mobile" placeholder="Mobile" class="form-control">
                                </div>
                                <label for="mobile" class="error" style="display:none;"></label>
                            </div>


                            <!-- Change this to a button or input when using this as a form -->
                            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Register">
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock page_content %}



{% block javascript %}
    <script>
        $(function () {
            $("#form").validate({
                rules: {
                    name: "required",
                    email: {
                        required: true,
                        email: true
                    },
                    password: {
                        required: true,
                        minlength: 4
                    },
                    confirm_password: {
                        required: true,
                        minlength: 4,
                        equalTo: '#password'
                    },
                    mobile: {
                        required: true,
                        number: true,
                        minlength: 10,
                        maxlength: 10,
                    }
                },
                messages: {
                    name: "Please specify your name",
                    email: {
                        required: "We need your email address to contact you",
                        email: "Your email address must be in the format of name@domain.com"
                    }
                }
            });
        });
    </script>
{% endblock javascript %}