{% extends "partial/layout.html" %}
{% block set_title %} - User Dashboard {% endblock set_title %}
{% block page_heading %} Dashboard {% endblock page_heading %}

{% block page_content %}
<!--<div class="row">-->
        <!--<div class="btn-group pull-right" role="group" aria-label="Page Action">-->
            <!--<a href="{% url 'book-add' %}" class="btn btn-primary" title="Add New Book">Add Book <i class="fa fa-plus" aria-hidden="true"></i></a>-->
        <!--</div>-->
    <!--</div>-->

    <div class="row">
        <div class="col-md-12">
            <div id="flash_msg">{% include "partial/msg-temp.html" %}</div>
            <div class="table-responsive">
                <table class="table table-hover" id="book_listing">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>ISBN</th>
                            <th>Name</th>
                            <th>Author</th>
                            <th>Publisher</th>
                            <th>Price</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for book in books %}
                            <tr>
                                <td>{{ forloop.counter }}.</td>
                                <td>{{ book.isbn }}</td>
                                <td>{{ book.name }}</td>
                                <td>{{ book.author }}</td>
                                <td>{{ book.publisher }}</td>
                                <td>{{ book.price }}</td>
                                <th>
                                    <a href="{% url 'action_view' book_id=book.id %}" title="View Details"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    <a href="{% url 'apply_book' book_id=book.id %}" title="Apply for Rent"><i class="fa fa-flag" aria-hidden="true"></i></a>
                                </th>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="100%">No Records found</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock page_content %}

{% block more_css %}
<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
{% endblock more_css %}

{% block more_js %}
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
{% endblock more_js %}

{% block javascript %}
 <script>
  $(function(){
    $("#book_listing").dataTable();
  })
  </script>
{% endblock javascript %}
