{% extends "partial/layout.html" %}
{% block set_title %} - Books list {% endblock set_title %}

{% block page_heading %}Books list{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="btn-group pull-right" role="group" aria-label="Page Action">
            <a href="{% url 'book-add' %}" class="btn btn-primary" title="Add New Book">Add Book <i class="fa fa-plus" aria-hidden="true"></i></a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="flash_msg">{% include "partial/msg-temp.html" %}</div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>ISBN</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Author</th>
                            <th>Publisher</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for book in books %}
                            <tr>
                                <td>{{ forloop.counter }}.</td>
                                <td>{{ book.isbn }}</td>
                                <td>{{ book.name }}</td>
                                <td>{{ book.category }}</td>
                                <td>{{ book.author }}</td>
                                <td>{{ book.publisher }}</td>
                                <td>{{ book.price }}</td>
                                <td>{{ book.quantity }}</td>
                                <td><a href="{% url 'book-delete' book.id %}" title="Delete"><i class="fa fa-trash-o" aria-hidden="true"></i>
                                </a></td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="100%">No Records found</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock page_content %}
