<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="">
            <a class="navbar-brand" href="javascript:void(0)">{{ ROLE_NAME }} Dashboard</a>
            <ul class="nav navbar-right top-nav user-list-icon">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-user"></i> 
                        <span class="hidden-xs">{{ USER_NAME }} </span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{% url 'logout' %}"><i class="fa fa-fw fa-sign-out"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- Nav Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="">
            <ul class="nav navbar-nav side-nav" id="sidebar">
                <li class="text-right visible-xs">
                    <a href="javascript:void(0);"><i class="fa fa-fw fa-arrow-left close-sidebar"></i></a>
                </li>


                {% if USER_ROLE == 2 %}
                    <li>
                        <a href="{% url 'user-list' %}">
                            <i class="fa fa-fw fa-list"></i> User Management
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'books-list' %}">
                            <i class="fa fa-fw fa-list"></i> Books Management
                        </a>
                    </li>

                     <li>
                        <a href="{% url 'book-request' %}">
                            <i class="fa fa-fw fa-list"></i> Books Request
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'user-dashboard' %}">
                            <i class="fa fa-fw fa-list"></i> Dashboard
                        </a>
                        <a href="{% url 'book-orders' %}">
                            <i class="fa fa-fw fa-list"></i> Book orders
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
