{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#222">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Rent and Lease Book{% block set_title %}{% endblock set_title %}</title>
    
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    {% block more_css %} {% endblock more_css %}
</head>

<body>
    <header class="header">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Rent and Lease Book</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="{% url 'login' %}">Sign In</a></li>
                    <li><a href="{% url 'register' %}">Sign Up</a></li>

                    <li><a href="{% url 'admin_register' %}">Admin Sign Up</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <section class="banner">
    {% block page_content %}{% endblock %}</section>
    <footer class="footer">
        <div class="container">
            <p>&copy; copyright @ 2019</p>
        </div>        
    </footer>

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>

    {% block more_js %} {% endblock more_js %}

    {% block javascript %}{% endblock javascript %}
</body>

</html>
