{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#222">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Rent and Lease Book {% block set_title %}{% endblock set_title %}</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    {% block more_css %}{% endblock more_css %}
</head>

<body>
    {% block page_body %}
        <div id="wrapper">
            {% include 'partial/_navbar.html' %}
            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">
                                {% block page_heading %}Dashboard{% endblock page_heading %}
                            </h1>
                        </div>
                    </div>
    
                    <!-- Page Content -->
                    {% block page_content %}{% endblock %}
                    <!-- /Page Content -->
                </div>
            </div>
            <footer id="page-footer">
                <div class="text-center text-muted">&copy; 2019 - Rent and Lease Books</div>
            </footer>
        </div>
    {% endblock page_body %}

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/plugins/jquery.shake.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    {% block more_js %} {% endblock more_js %}

    {% block javascript %}{% endblock javascript %}
</body>

</html>
